@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--padding: 20px;
	--max-width: 1200px;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #333;
}

.about-container {
	max-width: var(--max-width);
	margin: -15px auto 0;
	padding: var(--padding);
}

.about-header {
	text-align: center;
	margin-bottom: 40px;
}

.about-header h1 {
	font-size: 2.5rem;
	font-weight: 600;
	color: #333;
}

.about-header p {
	font-size: 1rem;
	color: #666;
}

.about-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.about-card {
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 20px;
	width: 32%; /* Adjust width for 3 cards to fit better */
	box-sizing: border-box;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-card h2 {
	font-size: 1.8rem;
	font-weight: 500;
	color: #333;
	margin-bottom: 15px;
}

.about-card p {
	font-size: 1rem;
	line-height: 1.6;
	color: #444;
}

/* Centering the iframe */
.about-animation {
	width: 100%; /* Full width */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.about-animation iframe {
	width: 80%; /* Adjust width to fit */
	max-width: 800px; /* Optional max width */
	height: 400px;
	border: none;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
	.about-content {
		justify-content: center;
	}
	.about-card {
		width: 45%;
	}
	.about-animation {
		width: 100%; /* Make the iframe container full-width */
	}
}

@media screen and (max-width: 768px) {
	.about-content {
		flex-direction: column;
		align-items: center;
	}

	.about-card {
		width: 100%;
	}
	.about-animation {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.about-header h1 {
		font-size: 2rem;
	}

	.about-header p {
		font-size: 0.9rem;
	}
}
