/* About.css */

.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6rem 0 5rem 0;
	background-color: #ffffff; /* Background similar to the uploaded image */
}

.about-content-wrapper {
	display: flex;
	max-width: 1200px;
	width: 100%;
	gap: 6rem; /* Space between the logo and content */
}

.about-logo {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-logo img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.about-content {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #333;
}

.about-content h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #111;
	margin-bottom: 1rem;
}

.about-content h2 {
	font-size: 1.9rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	color: #000;
}

.about-content p {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
	color: #555;
}

@media (max-width: 768px) {
	.about-content-wrapper {
		flex-direction: column;
		text-align: center;
	}

	.about-logo {
		margin-bottom: 2rem;
	}
}
