.carousel-item {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 0.5s;
}

.carousel-item.active {
	opacity: 1;
	transform: translateX(0);
}

.carousel-item figure {
	position: absolute;
	width: 70%;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-item img {
	width: 70%; /* Slightly reduce the width */
	transform: rotate(-30deg);
	transition: transform 0.5s;
}

.carousel-item.active figure img {
	transform: rotate(-20deg);
}

.carousel-item .content {
	position: absolute;
	z-index: 20;
	width: 70%;
	height: 100%;
	right: var(--y-column);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 20px;
}

.carousel-item .category {
	font-weight: 500;
}

.carousel-item h2 {
	font-family: 'League Gothic';
	font-size: 8em;
	line-height: 1em;
}

.carousel-item .description {
	color: #000;
	max-width: 400px;
	font-size: small;
	text-align: right;
}

.carousel-item .more {
	display: grid;
	grid-template-columns: repeat(2, 120px);
	gap: 20px;
	grid-template-rows: 35px;
}

.carousel-item button {
	border-radius: 30px;
	font-family: 'League Gothic';
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border: none;
	position: relative;
}

.carousel-item button:nth-child(1) {
	background-image: linear-gradient(to right, #81baa0, #46a39c);
}

.carousel-item button:nth-child(2) {
	border: 2px solid transparent;
	background: linear-gradient(#242745, #242745) padding-box,
		linear-gradient(to right, #81baa0, #46a39c) border-box;
}

.carousel-item .indicators .number {
	font-family: 'League Gothic';
	font-size: 7vw;
}

.carousel-item ul {
	display: flex;
	gap: 10px;
}

.carousel-item li {
	width: 50px;
	height: 5px;
	background-color: #659cdf;
	border-radius: 10px;
	pointer-events: auto;
	cursor: pointer;
	transition: 0.5s;
}

.carousel-item li.active {
	background-color: rgb(0, 0, 0);
}
